<header id="appHeader">
	<span> Life Task </span>
	<div id="appHeaderCoin">
		<span> {{ $ctrl.userCoins }} </span>
		<i class="material-icons">
			monetization_on
		</i>
	</div>
</header>

<ui-view id="appContent"></ui-view>

<footer id="appFooter">
	<div ng-click="$ctrl.changeView($event)"
		data-view="taskList">
		<span>Tarefas</span>
	</div>
	<div ng-click="$ctrl.changeView($event)"
		data-view="rewardList">
		<span>Recompensas</span>
	</div>
</footer>

<section id="loginContent">
	<button ng-click="$ctrl.login()">Login</button>
</section>