lifetask-app {
	display: grid;
	grid-template-rows: 64px auto 48px;
	grid-template-columns: auto;
	grid-template-areas:
		"appHeader"
		"appContent"
		"appFoter";
	width: 100%;
	min-height: 100vh;
}
lifetask-app #appHeader {
	grid-area: appHeader;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	height: 64px;
	width: calc(100vw - 32px);
	padding: 0 16px;
	color: var(--app-text-color);
	background-color: var(--app-color);
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, .32);
}
lifetask-app #appHeaderCoin {
	display: flex;
	align-items: center;
}
lifetask-app #appHeaderCoin i {
	margin-left: 2px;
    font-size: 22px;
}
lifetask-app #appContent {
	grid-area: appContent;
	background-color: rgb(230, 230, 230);
}
lifetask-app #appFooter {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 48px;
	color: var(--app-color);
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, .32);
}
lifetask-app #appFooter div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50%;
}
lifetask-app #appFooter div[active] {
	color: var(--app-text-color);
	background-color: var(--app-color);
}
lifetask-app #appFooter div * {
	pointer-events: none;
}
lifetask-app #loginContent {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	top: 64px;
	left: 0;
	width: 100vw;
	height: calc(100vh - 64px);
	color: var(--app-text-color);
	background-color: var(--app-color);
	visibility: visible;
}
lifetask-app[authorized] #loginContent {
	visibility: hidden;
}
lifetask-app button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
    border: 0;
	border-radius: 4px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--app-text-color);
	background-color: var(--app-color);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .32);
}
lifetask-app button.disabled,
lifetask-app button[disabled] {
	color: #555;
	background-color: rgb(230, 230, 230);
	pointer-events: none;
}
lifetask-app [ng-click],
lifetask-app [ng-click] * {
	cursor: pointer;
}