<section class="lifetask-reward-card"
	ng-repeat="reward in $ctrl.rewardList"
	ng-class="{'last-card': $last}">
	<div class="lifetask-reward-card-header">
		<span>{{ reward.title }}</span>
	</div>
	<div class="lifetask-reward-card-content">
		<span>{{ reward.description }}</span>
	</div>
	<div class="lifetask-reward-card-footer">
		<button ng-click="$ctrl.buyReward(reward)"
			ng-class="{'disabled': $ctrl.userCoins < reward.value }">
			{{ reward.value }}
			<i class="material-icons">
				monetization_on
			</i>
		</button>
		<button ng-click="$ctrl.editReward(reward)">Editar</button>
	</div>
</section>

<section id="lifetask-reward-fab-add"
	ng-click="$ctrl.addReward()">
	<i class="material-icons">add</i>
</section>