lifetask-task-crud {
	display: block;
	height: calc(100% - 32px);
	padding: 16px;
}

lifetask-task-crud .lifetask-task-card {
	display: grid;
	grid-template-rows: 64px auto;
	grid-template-columns: auto;
	grid-template-areas:
		"cardHeader"
		"cardContent";
	width: 100%;
	min-height: 256px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
}
lifetask-task-crud .lifetask-task-card .lifetask-task-card-header {
	grid-area: cardHeader;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-bottom: solid 1px rgb(225, 225, 225);
	font-size: 16px;
	color: rgb(35, 35, 35);
}

lifetask-task-crud .lifetask-task-card .lifetask-task-card-content {
	grid-area: cardContent;
	padding: 16px;
	font-size: 13px;
}

lifetask-task-crud #task-title,
lifetask-task-crud #task-description,
lifetask-task-crud #task-reward {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
lifetask-task-crud #task-title,
lifetask-task-crud #task-description {
	margin-bottom: 32px;
}

lifetask-task-crud .title {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
}

lifetask-task-crud #save {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 64px;
	right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	color: var(--app-text-color);
	background-color: var(--app-color);
	box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.66);
}